<h1>Seja Bem Vindo!</h1>

<% nome = "Guilherme Natan"%>
<p><%= nome %></p>
<p>Nome de trás para frente: <%=nome.reverse %></p>
<p>Date de hoje: <%= Date.today%></p>
<ul>
    <li><%= link_to "Cadastro de moedas", coins_path %></li>
</ul>
